.header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: center;
    padding: 10px;
}
.gray-link{
    color: #afbac8;
}
.navigation-container{
    font-size: small;
    font-weight: 500;
}
.department-heading{
    font-size: large;
    font-weight: 500;
}